COMPOSE_PROJECT_NAME="wonderkamer"

SERVER_PUBLIC_URL="http://localhost:3000"
# SERVER_BIND_ADDRESS="[::1]"
# SERVER_BIND_PORT=3002
GOOGLE_RECAPTCHA_SECRET=""
CONTACT_FORM_RECIPIENT="hallo@wonderkamer.com"
SMTP_USER="hallo@wonderkamer.com"
SMTP_PASS=""
SMTP_HOST=""
SMTP_PORT=465
SEMVER_TAG=""