<section
  class="d-flex {{this.classes}}"
  {{in-viewport onEnter=this.onViewIn onExit=this.onViewOut viewportSpy=true}}
  ...attributes
>
  <div class="d-flex flex-grow-1">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      use a block component!
    {{/if}}
  </div>
</section>