<div class="container mx-auto py-4 px-4 lg:px-16 space-y-5">
  <div class="prose prose-lg">
    <h3>Locatie</h3>
  </div>
  <div class="grid md:grid-cols-5 gap-4">
    <div class="prose prose prose-xl md:col-span-3">
      <Util::MarkdownFromUrl @url="/sections/about-the-place.md" />
    </div>
    <div class="md:col-span-2">
      <img src="/assets/images/about-img-1.jpg" class="w-full" alt="" role="none" />
    </div>
  </div>
  <div class="prose prose-lg">
    <h3>Over de faciliteiten</h3>
  </div>
  <div class="grid md:grid-cols-5 gap-4">
    <div class="prose prose-lg md:col-span-3 order-last">
      <Util::MarkdownFromUrl @url="/sections/about-the-facilities.md" />
    </div>
    <div class="md:col-span-2">
      <img src="/assets/images/about-img-genius.jpg" class="w-full" alt="" role="none" />
    </div>
  </div>
  <div class="prose prose-lg">
    <h3>Stichting Wonderkamer</h3>
  </div>
  <div class="grid md:grid-cols-5 gap-4">
    <div class="prose prose-lg md:col-span-3">
      <Util::MarkdownFromUrl @url="/sections/about-wonderkamer.md" />
    </div>
    <div class="md:col-span-2">
      <img src="/assets/images/about-img-color.jpg" class="w-full" alt="" role="none" />
    </div>
  </div>

  <div class="mb-5 grid grid-cols-2 lg:grid-cols-4 gap-4">
    <div>
      <p class="lead text-center">
        <span class="text-3xl uppercase">FLEX1</span>
      </p>
      <hr class="h-px my-8 bg-gray-300 border-0" />
      <ul class="flex flex-wrap">
        <li><span class="badge">€120 per maand</span></li>
        <li><span class="badge">gebruik tot ~1 dag per week</span></li>
        <li><span class="badge">clean desk policy</span></li>
      </ul>
    </div>
    <div>
      <p class="text-center">
        <span class="text-3xl uppercase">FLEX3</span>
      </p>
      <hr class="h-px my-8 bg-gray-300 border-0" />
      <ul class="flex flex-wrap">
        <li><span class="badge">€190 per maand</span></li>
        <li><span class="badge">gebruik tot ~3 dagen per week</span></li>
        <li><span class="badge">clean desk policy</span></li>
      </ul>
    </div>
    <div>
      <p class="text-center">
        <span class="text-3xl uppercase">VAST</span>
      </p>
      <hr class="h-px my-8 bg-gray-300 border-0" />
      <ul class="flex flex-wrap">
        <li><span class="badge">€275 per maand</span></li>
        <li><span class="badge">gebruik onbeperkt</span></li>
        <li><span class="badge">eigen bureau en bureaustoel</span></li>
        <li><span class="badge">bekabeld internet</span></li>
      </ul>
    </div>
    <div>
      <p class="text-center">
        <span class="text-3xl uppercase">EVENT</span>
      </p>
      <hr class="h-px my-8 bg-gray-300 border-0" />
      <ul class="flex flex-wrap">
        <li><span class="badge">in overleg</span></li>
        <li><span class="badge">weekend of s'avonds</span></li>
        <li><span class="badge">voorrang voor leden</span></li>
      </ul>
    </div>
    <div class="col-span-2 lg:col-span-4">
      <p class="text-lg text-center">
        <span class="text-3xl uppercase">elk pakket</span>
      </p>
      <hr class="h-px my-8 bg-gray-300 border-0" />
      <ul class="flex flex-wrap">
        <li>
          <span class="badge">eerste maand proef</span>
          <span class="badge">twee maanden opzegtermijn</span>
          <span class="badge">24/7 toegang</span>
          <span class="badge">koffie en thee inbegrepen</span>
          <span class="badge">sta bureau</span>
          <span class="badge">kastruimte</span>
          <span class="badge">draadloos internet</span>
          <span class="badge">overleg/bel ruimtes</span>
          <span class="badge">word schoongemaakt</span>
          <span class="badge">printen en scannen</span>
          <span class="badge">borrels / film avond</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="prose prose-lg max-w-full md:col-span-2">
      <Util::MarkdownFromUrl @url="/sections/about-operations-rulez-intro.md" />
    </div>
    <div class="prose prose-sm">
      <Util::MarkdownFromUrl @url="/sections/about-operations-rulez-1.md" />
    </div>
    <div class="prose prose-sm">
      <Util::MarkdownFromUrl @url="/sections/about-operations-rulez-2.md" />
    </div>
  </div>

</div>