<section class="flex {{this.classes}}" {{in-viewport onEnter=this.onViewIn onExit=this.onViewOut viewportSpy=true}} ...attributes>
  <div class="flex grow">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      use a block component!
    {{/if}}
  </div>
</section>