*,
html {
  font-family: 'Signika Negative', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  @apply text-primary;

  user-select: none;
  min-height: 100dvh;
  background: linear-gradient(105deg, hsla(330, 100%, 45%, 1), ease-in-out, hsla(210, 100%, 45%, 1));
}
