---
title: "Password recovery"
---

<extends src="src/layouts/main.html">
  <block name="template">
    <p>Hello @{{name}},</p>
    <p class="text-2xl sm:leading-8 font-semibold m-0 mb-6">{{ page.title }}</p>
    <p>We've received a request to reset your password.</p>
    <p class="m-0 mb-6">
      Please follow this link within 2 hours to reset your password:
    </p>
    <div class="leading-full">
      <x-button href="@{{url}}">Reset password</x-button>
    </div>
    <table class="w-full" role="separator">
      <tr>
        <td class="py-8">
          <div class="bg-slate-200 dark:bg-slate-800 h-px leading-px">
            &zwnj;
          </div>
        </td>
      </tr>
    </table>
    <p class="m-0 mb-4">
      If you didn't sign up for wonderkamer.com, you can safely ignore this
      email.
    </p>
  </block>
</extends>
