<div {{did-insert this.initiateLoad @url}} {{did-update this.initiateLoad @url}} {{style this.cssProperties}} ...attributes class="markdown">
  {{#if this.markdown}}
    <MarkdownToHtml @markdown={{this.markdown}} />
  {{/if}}
</div>